/* ================================================================ */
/* TUDO PERFIL */
/* ================================================================ */

.TUDO_PERFIL{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    display: none;
}
.dentro_perfil{
    width: 50%;
    margin-top: 15vh;
}




/* ------------- TITULO ---------------- */

.titu_perfil{
    font-family: "Roobert TWHINT SemiBold";
    font-style: normal;
    font-weight: 600;
    font-size: clamp(1.5rem, 1.4643rem + 0.1786vw, 1.75rem);
    line-height: 42px;
    letter-spacing: -0.04em;
    text-align: left;
    margin-top: 1.3em;
    margin-bottom: 0.8em;
    margin-left: 0.2em;
     
    color: rgba(0, 17, 58, 0.800000011920929);
}




/* ------------- CAMPO ---------------- */
.opcao_perfil{
    width: 100%;
    height: 10vh;
    background: rgba(0, 17, 58, 0.029999999329447746);
    border-radius: 15px;
    font-family: "Roobert TWHINT Regular";
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1.25rem, 1.2143rem + 0.1786vw, 1.5rem);
    line-height: 29px;
    letter-spacing: -0.04em;
    text-align: left;
     
    color: rgba(0, 17, 58, 0.800000011920929);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vh;
    position: relative;
    margin-bottom: 1vh;
}
.opcao_perfil_sair{
    width: 100%;
    height: 10vh;
    background: rgba(190, 60, 60, 0.05000000074505806);
    border-radius: 15px;
    font-family: "Roobert TWHINT Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.04em;
    text-align: left;
     
    color: #be3c3c;
     
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vh;
    position: relative;
    margin-bottom: 1vh;
}
.edit_icon{
    width: 3vh;
    height: 3vh;
    margin-left: 3vh;
}
.seta_perfil{
    width: 1vh;
    height: 2vh;
    position: absolute;
    right: 4vh;
}
.seta_perfil_sair{
    width: 1vh;
    height: 2vh;
    position: absolute;
    right: 4vh;
    stroke: #be3c3c;
}

@media (max-width:1024px) {
    .dentro_perfil{
        width: 75%;
    }
}
@media (max-width:555px) {
    .dentro_perfil{
        width: 85%;
    }
    .opcao_perfil{
        height: 8vh;
        gap: 2vh;
    }
    .opcao_perfil_sair{
        height: 8vh;
        gap: 2vh;
    }
    .edit_icon{
        margin-left: 2vh;
    }
    .seta_perfil{
        right: 3vh;
    }
    .seta_perfil_sair{
        right: 3vh;
    }
}