.TUDO_CHATBOT{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 112px;
    box-sizing: border-box;
}
.dentro_chatbot{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
}
.logo_chat{
    height: 45px;
}
.titu_chat{
    font-family: "Roobert TWHINT Bold";
    font-style: normal;
    font-weight: 700;
    font-size: clamp(2.625rem, 2.4286rem + 0.9821vw, 4rem);
    line-height: auto;
    letter-spacing: -0.04em;
    text-align: center;
    color: #00113A;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.cor1{
    color: #2B66FF;
}
.sub_titu{
    font-family: "PP Mori SemiBold";
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.875rem, 0.7857rem + 0.4464vw, 1.5rem);
    line-height: auto;
    letter-spacing: -0.04em;
    text-align: center;
    margin: 0;
     
    color: #00113A;
    opacity: 0.6;
}

.divide{
    margin-top: 4vh;
    margin-bottom: 4vh;
}




/* -------------CHATBOT---------------- */
  
.WatsonAssistantChatHost[style]{
    position: absolute;
    width: 100vw !important;
    height: 100vh !important;
    top: 0;
  }
  #WACContainer.WACContainer{
    width: 100vw !important;
    height: 100vh !important;
  }
  #WACContainer.WACContainer .WACWidget.WACWidget--launched.WACWidget--defaultElement{
    width: 80%;
    height: 90%;
    max-width: 100%;
    max-height: 100%;
    position: relative !important;
    box-shadow: 0px 0px 150px 0px rgba(0, 17, 58, 0.15) !important;
    padding: 30px;
    border-radius: 20px !important;

    animation: WACWidgetIn2 1.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both !important;
  }
  @keyframes WACWidgetIn2 {
    0% {
        width: 0%;
        height: 0%;
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        width: 80%;
        height: 90%;
        filter: blur(0);
        opacity: 1;
    }
  }

  @media (max-width: 500px) {
    #WACContainer.WACContainer .WACWidget.WACWidget--launched.WACWidget--defaultElement{
        padding: 15px;
        width: 90% !important;
        height: 95% !important;
    }
    #WACContainer.WACContainer .WACWidget__regionContainer{
        padding-top: 90px !important;
    }
    #WACContainer.WACContainer .WACLauncher__ButtonContainer.WACLauncher__ButtonContainer--round .WACLauncher__Button:not(.WACLauncher__TourButton){
        padding-left: 70vw !important;
    }
  }
  #WACContainer.WACContainer .WACWidget.WACWidget--defaultElement{
    inset: auto !important;
  }
  #WACContainer.WACContainer button.WACLauncher__Button svg{
    opacity: 0;
  }
  #WACContainer.WACContainer .WACLauncher__ButtonContainer.WACLauncher__ButtonContainer--round .WACLauncher__Button:not(.WACLauncher__TourButton){
    background: url(../img/chatbot/botao_bot.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50% 55%;
  }
  #WACContainer.WACContainer .cds--white, #WACContainer.WACContainer .cds--g10, #WACContainer.WACContainer .cds--g90, #WACContainer.WACContainer .cds--g100{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    --cds-chat-BASE-border-radius-med: 0px !important;
  }
  #WACContainer.WACContainer .WACLauncher__ButtonContainer{
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none !important;
    background-color: transparent !important;
  }
  #WACContainer.WACContainer .WACWidget__regionContainer{
    position: relative;
    padding-top: 112px;
    width: 100vw !important;
    height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #WACContainer.WACContainer .WACWidget__FocusTrapContainer{
    width: 100% !important;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #WACContainer.WACContainer .cds--g10, #WACContainer.WACContainer .cds--g100, #WACContainer.WACContainer .cds--g90, #WACContainer.WACContainer .cds--white{
    --cds-chat-LAUNCHER-default-size: 0px !important;
    --cds-chat-LAUNCHER-position-bottom: 0px !important;
  }
  #WACContainer.WACContainer .WACLauncher__ButtonContainer.WACLauncher__ButtonContainer--round .WACLauncher__Button:not(.WACLauncher__TourButton){
    width: 100%;
    padding-left: 380px;
    height: 80px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%);
    background-color: #2B66FF !important;
    transition: 0.2s !important;
    animation: slide-in-blurred-bottom2 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.6s both;
  }
  @keyframes slide-in-blurred-bottom2 {
    0% {
      -webkit-filter: blur(20px);
              filter: blur(20px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  #WACContainer.WACContainer .WACLauncher__ButtonContainer.WACLauncher__ButtonContainer--round .WACLauncher__Button:not(.WACLauncher__TourButton):hover{
    background-color: #00113A !important;
    padding-left: 370px;
    height: 78px;
  }



  /*  AVISO BOT  */

  #WACContainer.WACContainer .WACLauncherComplex__Container{
    max-width: auto !important;
    max-height: 150px;
    right: 0 !important;
    max-width: auto !important;
  }

  #WACContainer.WACContainer .WACLauncherComplex__Container .WACLauncherComplex__Text{
    background-color: #2B66FF;
    padding: 16px;
    border-radius: 12px;
  }

  #WACContainer.WACContainer .WACLauncherComplex__Container--simpleAnimation .WACLauncherComplex__SmallLauncherContainer, #WACContainer.WACContainer .WACLauncherComplex__Container--simpleAnimation .WACLauncher__ButtonContainer.WACLauncherComplex__SmallLauncherContainer .WACLauncher__Button{
    width: 100% !important;
    padding: 0px !important;
    padding-left: 380px !important;
    height: 80px !important;
    border-radius: 20px !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    background-color: #2B66FF !important;
    transition: 0.2s !important;
  }



  /*    MADE WITH UBM   */
  #WACContainer.WACContainer .WACBrandingBanner{
    display: none !important;
  }