.TUDO_AVISO{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(13.7px);
    z-index: 10000000000;
}
.dentro_aviso{
    background: #ffffff;
    border-radius: 50px;
    border-style: solid;
    border-color: #2b66ff;
    border-width: 3px;
    height: 40%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titu_aviso{
    font-family: "Roobert TWHINT Bold";
    font-style: normal;
    font-weight: 700;
    font-size: clamp(2rem, 1.7143rem + 1.4286vw, 4rem);
    line-height: 1.1;
    letter-spacing: -0.04em;
    text-align: center;
     
    color: #2b66ff;
    margin: 0;
     
}
.sub_titu_aviso{
    font-family: PP Mori;
    font-style: normal;
    font-weight: 600;
    font-size: clamp(1.125rem, 1rem + 0.625vw, 2rem);
    line-height: 1.1;
    letter-spacing: -0.04em;
    text-align: center;
     
    color: rgba(0, 17, 58, 0.6000000238418579);  
    margin-bottom: 0;  
}

@media (max-width:600px) {
    .dentro_aviso{
        width: 80%;
        height: 30%;
    }
}